@using WebFeedReader.Models
@using WebFeedReader.ViewModels

@model MainFeedDisplayViewModel

@{
    ViewBag.Title = "All Feeds";
}

<div class="row">
    <div class="col-lg-2">
        <h2>Feeds</h2>
        <ul>
            <li>@Html.ActionLink("All Feeds", "Index")</li>
            @foreach (Feed feed in Model.Feeds)
            {
                <li>@Html.ActionLink(feed.Title, "Index", new { selectedFeedId = feed.ID })</li>
            }
            @if (!Model.Feeds.Any())
            {
                <li>There are no Feeds</li>
            }
        </ul>
    </div>
    <div class="col-lg-5">
        <table border="1">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Published</th>
                </tr>
            </thead>
            @foreach (FeedItem feedItem in Model.FilteredFeedItems)
            {
                <tr>
                    <td>
                        @Html.ActionLink(feedItem.Title, "Index",
                            new { selectedFeedId = Model.SelectedFeed?.ID, selectedFeedItemId = feedItem.ID })
                    </td>
                    <td>@Html.DisplayFor(_ => feedItem.PublishedOn)</td>
                </tr>

            }
            @if (!Model.FilteredFeedItems.Any())
            {
                <tr>
                    <td colspan="2">There are no feed entries to display</td>
                </tr>
            }
        </table>
    </div>
    <div class="col-lg-5">
        @if (Model.SelectedFeedItem != null)
        {
            <div class="feed-item-display">
                <h2>@Model.SelectedFeedItem.Title</h2>
                <div class="feed-item-content">
                    @Html.Raw(Model.SelectedFeedItem.Content)
                </div>
            </div>
        }
    </div>
</div>