@using WebFeedReader.Models
@using WebFeedReader.ViewModels

@model MainFeedDisplayViewModel

@{
    ViewBag.Title = "All Feeds";
    ViewBag.HtmlTagClass = "main-page";
}

<section id="feed-list">
    <div class="btn-group-vertical" style="width: 100%">
        @{
            var allFeedsLinkClasses = "btn btn-block btn-default";
            if (Model.SelectedFeed == null)
            {
                allFeedsLinkClasses += " active";
            }
        }
        @Html.ActionLink("All Feeds", "Index", null,
                new { @class = allFeedsLinkClasses, style = "text-align: left", role = "button" })
        @foreach (Feed feed in Model.Feeds)
            {
                var feedLinkClasses = "btn btn-block btn-default dropdown-toggle";
                if (Model.SelectedFeed != null && feed.ID == Model.SelectedFeed.ID)
                {
                    feedLinkClasses += " active";
                }
                <div class="btn-group">
                    <button type="button" class="@feedLinkClasses" style="text-align: left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span style="display:inline-block; max-width: 90%; overflow-x:hidden">@feed.Title</span>
                        <span class="caret pull-right"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>@Html.ActionLink("Filter By", "Index", new { selectedFeedId = feed.ID })</li>
                        <li>@Html.ActionLink("Properties", "Edit", "Feeds", new { id = feed.ID }, null)</li>
                        <li>@Html.ActionLink("Delete", "Delete", "Feeds", new { id = feed.ID }, null)</li>
                    </ul>
                </div>
        }
        @if (!Model.Feeds.Any())
            {
            <span>There are no Feeds</span>
        }
    </div>
</section>
<section id="feed-item-list">
    @foreach (FeedItem feedItem in Model.FilteredFeedItems)
    {
        <div class="feed-item">
            <div class="feed-item-title">
                @Html.ActionLink(feedItem.Title, "Index",
                new { selectedFeedId = Model.SelectedFeed?.ID, selectedFeedItemId = feedItem.ID })
            </div>
            <div class="feed-item-meta">
                <div class="feed-item-feedtitle">
                    @feedItem.Feed.Title
                </div>
                <div class="feed-item-published">
                    <div>@feedItem.PublishedOn.ToShortDateString()</div>
                </div>
            </div>
        </div>

    }
    @if (!Model.FilteredFeedItems.Any())
    {
        <p>There are no feed entries to display</p>
    }
</section>
<section id="feed-item-display" class="vertical-no-scroll">
    @if (Model.SelectedFeedItem != null)
    {
        <h1>@Model.SelectedFeedItem.Title</h1>
        <div class="feed-item-content vertical-scroll">
            @Html.Raw(Model.SelectedFeedItem.Content)
        </div>
    }
</section>