@using WebFeedReader.Models
@using WebFeedReader.ViewModels

@model MainFeedDisplayViewModel

@{
    ViewBag.Title = "All Feeds";
}

<div class="row">
    <div class="col-lg-4">
        <h2>Feeds</h2>
        <ul>
            <li>@Html.ActionLink("All Feeds", "Index")</li>
            @foreach (Feed feed in Model.Feeds)
            {
                <li>@Html.ActionLink(feed.Title, "Index", new { selectedFeedId = feed.ID })</li>
            }
            @if (!Model.Feeds.Any())
            {
                <li>There are no Feeds</li>
            }
        </ul>
    </div>
    <div class="col-lg-4">
        <ul>
            @foreach (FeedItem feedItem in Model.FilteredFeedItems)
            {
                <li>
                    @Html.ActionLink(feedItem.Title, "Index",
                    new { selectedFeedId = Model.SelectedFeed?.ID, selectedFeedItemId = feedItem.ID })
                </li>
            }
            @if (!Model.FilteredFeedItems.Any())
            {
                <li>There are no feed entries to display</li>
            }
        </ul>
    </div>
    <div class="col-lg-4">
        @if (Model.SelectedFeedItem != null)
        {
            <div class="feed-item-display">
                <h2>@Model.SelectedFeedItem.Title</h2>
                <div class="feed-item-content">
                    @Html.Raw(Model.SelectedFeedItem.Content)
                </div>
            </div>
        }
    </div>
</div>